name: Deploy Secure ListV

on:
  push:
    branches:
      - main # Ganti dengan nama branch utama Anda (misal: master)

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          SHEET_API_URL: ${{ secrets.SHEET_API_URL }}

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # Folder hasil build yang akan di-hosting
          branch: gh-pages # Branch tujuan untuk hosting
